<div class="d-flex flex-column w-25">
  <p>You asked:</p>
  <div class="bg-success">
  <h2><%= @question %></h2>
  </div>
  <p>He answered:</p>
  <div class="bg-warning">
  <h2><%= @answer %></h2>
  </div>
  <button class="btn btn-primary">
  <a href="http://127.0.0.1:3000/ask" class="text-white">Ask a new question</a>
  </button>
</div>
