<form action="/answer" class ="d-flex flex-column w-25">
  <label for="question">Ask your coach anything:</label>
  <input type="text" id="question" name="question" placeholder="" class="form-control">
  <input type="submit" value="Ask" class="btn btn-primary">
</form>
